@use "variables";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

html {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 2.8rem;
}

body {
  background: map-get(variables.$neutralColors, darkBlue);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 50rem;
  margin: 10% auto;
  background: map-get(variables.$neutralColors, darkGrayishBlue);
  border-radius: 2.2rem;

  max-width: 90%;
  justify-content: space-between;
  padding: 3rem;
  position: relative;
}

h1 {
  color: map-get(variables.$primarColors, neonCyan);
  text-transform: uppercase;
}

p {
  color: map-get(variables.$primarColors, lightCyan);
  margin: 2rem 0;
}

button {
  background-color: map-get(variables.$primarColors, neonCyan);
  border: none;
  display: flex;
  padding: 2rem;
  border-radius: 100%;

  position: absolute;
  bottom: -3.5rem;
}

picture {
  margin: 3rem 0;
  img {
    max-width: 100%;
  }
}
